@model AdminEvent
@using EventManagement.Models

@{
    ViewData["Title"] = "Create";
    var dateMin = @DateTime.Now.AddDays(7).ToString("yyyy-MM-ddTHH:mm");
    var dateMax = @DateTime.Now.AddDays(7).AddMonths(6).ToString("yyyy-MM-ddTHH:mm");
}

<h1 class="text-center">Organize Concert Event</h1>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <form asp-action="Create" asp-controller="AdminEvents" method="post" enctype="multipart/form-data" class="bg-light text-dark p-4 rounded">
                <div class="form-group">
                    <label asp-for="EventName" class="control-label h5">
                        <i class="bi bi-calendar-event"></i> Event Name
                    </label>
                    <input asp-for="EventName" class="form-control" placeholder="Enter event name" />
                    <span asp-validation-for="EventName" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="ArtistData" class="control-label h5">
                        <i class="bi bi-person"></i> Artist Name
                    </label>
                    <input asp-for="ArtistData" class="form-control" minlength="0" placeholder="Enter artist name" />
                </div>


                <div class="form-group">
                    <label asp-for="Description" class="control-label h5">
                        <i class="bi bi-file-text"></i> Event Description
                    </label>
                    <input asp-for="Description" class="form-control" placeholder="Enter event description" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="ContactInformation" class="control-label h5">
                        <i class="bi bi-person"></i> Contact Information
                    </label>
                    <input asp-for="ContactInformation" class="form-control" placeholder="Enter contact information" />
                    <span asp-validation-for="ContactInformation" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Date" class="control-label h5">
                        <i class="bi bi-calendar"></i> Date
                    </label>
                    <input asp-for="Date" class="form-control" min="@dateMin" max="@dateMax" placeholder="Select date" />
                    <span asp-validation-for="Date" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Duration" class="control-label h5">
                        <i class="bi bi-clock"></i> Duration
                    </label>
                    <select asp-for="Duration" class="form-control" placeholder="Select event duration">
                        <option value="" disabled selected>Select the duration of event</option>
                        <option value="2">2 hours</option>
                        <option value="4">4 hours</option>
                        <option value="8">8 hours</option>
                        <option value="12">12 hours</option>
                        <option value="16">16 hours</option>
                    </select>
                    <span asp-validation-for="Duration" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="EventPrice" class="control-label h5">
                        <i class="bi bi-currency-dollar"></i> Event Price
                    </label>
                    <input asp-for="EventPrice" class="form-control" placeholder="Enter event price" />
                    <span asp-validation-for="EventPrice" class="text-danger"></span>
                </div>


                <div class="form-group">
                    <label asp-for="HallId" class="control-label h5">
                        <i class="bi bi-house-door"></i> Choose Hall
                    </label>
                    <select id="hallNameDropdown" class="form-control" asp-for="HallId" placeholder="Select Hall">
                        <option value="" disabled selected>Select Hall</option>
                        @foreach (var hall in ViewBag.Halls)
                        {
                            <option value="@hall.HallId">@hall.HallName - @hall.Location, @hall.Venue</option>
                        }
                    </select>
                    @Html.ValidationMessageFor(m=>m.HallId, "", new {@class="text-danger"})
                </div>

                <div class="form-group">
                    <label for="imageFile" class="control-label h5">
                        <i class="bi bi-images"></i> Choose Image
                    </label>
                    <input type="file" id="imageFile" name="ImageFile" class="form-control" />
                    <span id="imageFileValidation" class="text-danger"></span>

                </div>
                <input type="hidden" asp-for="EventType" value=2 />

                <input type="hidden" asp-for="ImagePath" value="random" />
                <div class="form-group">
                    <label asp-for="Featured" class="control-label h5">
                        <i class="bi bi-star"></i> Featured
                    </label>
                    <div class="form-check">
                        <input asp-for="Featured" class="form-check-input" />
                        <label class="form-check-label" for="Featured">
                            Mark as Featured
                        </label>
                    </div>
                    <span asp-validation-for="Featured" class="text-danger"></span>
                </div>
                <div class="form-group justify-content-between d-flex mt-4">
                    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
                    <button type="submit" class="btn btn-success">Create Event</button>
                </div>
             
            </form>

        </div>
    </div>
</div>

<div class="controller-marker" data-controller="AdminEvents"></div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/js/script.js"></script>
    <script>
        $(document).ready(function () {
            $('form').submit(function () {
                var fileInput = $('#imageFile');
                var validationMessage = $('#imageFileValidation');

                if (fileInput.get(0).files.length === 0) {
                    validationMessage.text('Please choose an image.');
                    return false; 
                }

                validationMessage.text('');
                return true; 
            });
        });
    </script>
}